# direnv
.direnv/

# devshell
result
result-*
.data/
.pre-commit-config.yaml

# taskfile
.task/

# python
__pycache__/
*.py[cod]

# vscode-sops
.decrypted~*

# nixago: ignore-linked-files
/lib/.sops.yaml
