---
apiVersion: mutations.gatekeeper.sh/v1
kind: Assign
metadata:
  name: woodpecker-nix-store-volume
spec:
  applyTo:
    - groups: [""]
      kinds: ["Pod"]
      versions: ["v1"]
  match:
    labelSelector:
      matchLabels:
        szp.io/use-nix-store: "true"
    namespaces: [woodpecker]
  location: "spec.volumes[name:nix-store]"
  parameters:
    assign:
      value:
        name: nix-store
        hostPath:
          path: /nix/store
          type: Directory
---
apiVersion: mutations.gatekeeper.sh/v1
kind: Assign
metadata:
  name: woodpecker-nix-socket-volume
spec:
  applyTo:
    - groups: [""]
      kinds: ["Pod"]
      versions: ["v1"]
  match:
    labelSelector:
      matchLabels:
        szp.io/use-nix-store: "true"
    namespaces: [woodpecker]
  location: "spec.volumes[name:nix-socket]"
  parameters:
    assign:
      value:
        name: nix-socket
        hostPath:
          path: /nix/var/nix/daemon-socket/socket
          type: Socket
---
apiVersion: mutations.gatekeeper.sh/v1
kind: Assign
metadata:
  name: woodpecker-nix-store-volume-mount
spec:
  applyTo:
    - groups: [""]
      kinds: ["Pod"]
      versions: ["v1"]
  match:
    labelSelector:
      matchLabels:
        szp.io/use-nix-store: "true"
    namespaces: [woodpecker]
  location: "spec.containers[name:*].volumeMounts[name:nix-store]"
  parameters:
    assign:
      value:
        name: nix-store
        mountPath: /nix/store
        readOnly: true
---
apiVersion: mutations.gatekeeper.sh/v1
kind: Assign
metadata:
  name: woodpecker-nix-socket-volume-mount
spec:
  applyTo:
    - groups: [""]
      kinds: ["Pod"]
      versions: ["v1"]
  match:
    labelSelector:
      matchLabels:
        szp.io/use-nix-store: "true"
    namespaces: [woodpecker]
  location: "spec.containers[name:*].volumeMounts[name:nix-socket]"
  parameters:
    assign:
      value:
        name: nix-socket
        mountPath: /nix/var/nix/daemon-socket/socket
---
apiVersion: mutations.gatekeeper.sh/v1
kind: Assign
metadata:
  name: woodpecker-nix-remote-env
spec:
  applyTo:
    - groups: [""]
      kinds: ["Pod"]
      versions: ["v1"]
  match:
    labelSelector:
      matchLabels:
        szp.io/use-nix-store: "true"
    namespaces: [woodpecker]
  location: "spec.containers[name:*].env[name:NIX_REMOTE]"
  parameters:
    assign:
      value:
        name: NIX_REMOTE
        value: daemon
