agent:
  persistence:
    storageClass: rook-ceph-block
  podSecurityContext:
    runAsNonRoot: true
    seccompProfile:
      type: RuntimeDefault
  securityContext:
    allowPrivilegeEscalation: false
    capabilities:
      drop: [ALL]
  env:
    # Secret names to pull images from private repositories
    # WOODPECKER_BACKEND_K8S_PULL_SECRET_NAMES: "woodpecker-docker-credentials"
    WOODPECKER_BACKEND_K8S_STORAGE_RWX: false
    WOODPECKER_BACKEND_K8S_STORAGE_CLASS: rook-ceph-block
    # WOODPECKER_BACKEND_K8S_SECCTX_NONROOT: true
    WOODPECKER_BACKEND_K8S_POD_LABELS_ALLOW_FROM_STEP: true
    WOODPECKER_BACKEND_K8S_POD_ANNOTATIONS_ALLOW_FROM_STEP: true

server:
  persistentVolume:
    storageClass: rook-ceph-block
  podSecurityContext:
    runAsNonRoot: true
    seccompProfile:
      type: RuntimeDefault
  securityContext:
    allowPrivilegeEscalation: false
    capabilities:
      drop: [ALL]
  env:
    WOODPECKER_HOST: https://woodpecker.k8s.szp.io
    WOODPECKER_OPEN: true
    WOODPECKER_ADMIN: ziping-sun
    WOODPECKER_GITEA: true
    WOODPECKER_GITEA_URL: https://gitea.k8s.szp.io
    WOODPECKER_GITEA_SKIP_VERIFY: true
    WOODPECKER_DEFAULT_CLONE_PLUGIN: gitea.k8s.szp.io/tillycode/woodpeckerci-plugin-git
  extraSecretNamesForEnvFrom:
    - woodpecker-secrets
  ingress:
    enabled: true
    ingressClassName: traefik
    hosts:
      - host: woodpecker.k8s.szp.io
        paths:
          - path: /
