name: "Update flake.lock"
on:
  workflow_dispatch:
  schedule:
    # every day 00:00 +08:00
    - cron: "0 16 * * *"

jobs:
  lockfile:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v27
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}
          extra_nix_config: |
            accept-flake-config = true
      - name: Update flake.lock
        uses: DeterminateSystems/update-flake-lock@main
        with:
          commit-msg: "chore(deps): update flake.lock"
          pr-title: "Update flake.lock"
          pr-labels: |
            dependencies
            automated
          # PRs created using the default GITHUB_TOKEN won't trigger other GitHub actions.
          # Check https://github.com/peter-evans/create-pull-request/blob/main/docs/concepts-guidelines.md#triggering-further-workflow-runs
          # for various workarounds. We use a PAT here to trigger further workflows.
          # NOTE: need to manually provision the secret
          #   Create a token from https://github.com/settings/tokens?type=beta,
          #   (permission: contents/write, pull-requests/write), and run the
          #   following command:
          #     gh secret set GH_TOKEN_FOR_UPDATES  # paste the token
          token: ${{ secrets.GH_TOKEN_FOR_UPDATES }}
          branch: chore/update-flake-lock
